<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8"
            style="background-image: url('assets/img/bg6.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title">This is our great company.</h1>
                <div class="text-center">
                    <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                    <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                        <i class="fab fa-google-plus"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">Who we are?</h2>
                    <h5 class="description">According to the National Oceanic and Atmospheric Administration, Ted,
                        Scambos, NSIDClead scentist, puts the potentially record low maximum sea ice extent tihs year
                        down to low ice extent in the Pacific and a late drop in ice extent in the Barents Sea.</h5>
                </div>
            </div>
            <div class="separator separator-primary"></div>
            <div class="section-story-overview">
                <div class="row">
                    <div class="col-md-6">
                        <div class="image-container image-left" style="background-image: url('assets/img/login.jpg')">
                            <!-- First image on the left side -->
                            <p class="blockquote blockquote-primary">"Over the span of the satellite record, Arctic sea
                                ice has been declining significantly, while sea ice in the Antarctichas increased very
                                slightly"
                                <br>
                                <br>
                                <small>-NOAA</small>
                            </p>
                        </div>
                        <!-- Second image on the left side of the article -->
                        <div class="image-container" style="background-image: url('assets/img/bg3.jpg')"></div>
                    </div>
                    <div class="col-md-5">
                        <!-- First image on the right side, above the article -->
                        <div class="image-container image-right" style="background-image: url('assets/img/bg1.jpg')">
                        </div>
                        <h3>So what does the new record for the lowest level of winter ice actually mean</h3>
                        <p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and
                            that process will continue whatever happens with climate change. Even if the Arctic
                            continues to be one of the fastest-warming regions of the world, it will always be plunged
                            into bitterly cold polar dark every winter. And year-by-year, for all kinds of natural
                            reasons, there’s huge variety of the state of the ice.
                        </p>
                        <p>
                            For a start, it does not automatically follow that a record amount of ice will melt this
                            summer. More important for determining the size of the annual thaw is the state of the
                            weather as the midnight sun approaches and temperatures rise. But over the more than 30
                            years of satellite records, scientists have observed a clear pattern of decline,
                            decade-by-decade.
                        </p>
                        <p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and
                            that process will continue whatever happens with climate change. Even if the Arctic
                            continues to be one of the fastest-warming regions of the world, it will always be plunged
                            into bitterly cold polar dark every winter. And year-by-year, for all kinds of natural
                            reasons, there’s huge variety of the state of the ice.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div _ngcontent-c11="" class="section section-cards" data-background-color="gray" id="cards">
        <div _ngcontent-c11="" class="cards">
            <div _ngcontent-c11="" class="container">
                <div _ngcontent-c11="" class="title">
                    <h3 _ngcontent-c11="" class="title">Cards</h3>
                    <h3 _ngcontent-c11=""><small _ngcontent-c11="">Blog Cards</small></h3>
                </div>
                <div _ngcontent-c11="" class="row">
                    <div _ngcontent-c11="" class="col-md-6 col-lg-4">
                        <div _ngcontent-c11="" class="card" data-background-color="red">
                            <div _ngcontent-c11="" class="card-body">
                                <h6 _ngcontent-c11="" class="category-social"><i _ngcontent-c11=""
                                        class="fa fa-fire"></i> Trending </h6>
                                <p _ngcontent-c11="" class="card-description"> "The supreme art of war is to subdue the
                                    enemy without fighting." </p>
                                <div _ngcontent-c11="" class="card-footer">
                                    <div _ngcontent-c11="" class="author"><img _ngcontent-c11="" alt="..."
                                            class="avatar img-raised" src="assets/img/ryan.jpg"><span
                                            _ngcontent-c11="">Susan B. Anthony</span></div>
                                    <div _ngcontent-c11="" class="stats stats-right "><i _ngcontent-c11=""
                                            class="now-ui-icons ui-2_favourite-28"></i> 10.4K · <i _ngcontent-c11=""
                                            class="now-ui-icons files_single-copy-04"></i> 425 </div>
                                </div>
                            </div>
                        </div>
                        <div _ngcontent-c11="" class="card card-blog">
                            <div _ngcontent-c11="" class="card-image"><img _ngcontent-c11="" class="img rounded"
                                    src="assets/img/project13.jpg"></div>
                            <div _ngcontent-c11="" class="card-body">
                                <h6 _ngcontent-c11="" class="category text-warning"><i _ngcontent-c11=""
                                        class="now-ui-icons business_bulb-63"></i> Focus </h6>
                                <h5 _ngcontent-c11="" class="card-title"><a _ngcontent-c11="" href="#nuk">Stay Focused:
                                        Train Your Brain</a></h5>
                                <p _ngcontent-c11="" class="card-description"> Our brains are finely attuned to
                                    distraction, so today's digital environment makes it especially hard to focus...
                                </p>
                            </div>
                        </div>
                        <div _ngcontent-c11="" class="card">
                            <div _ngcontent-c11="" class="card-body">
                                <h6 _ngcontent-c11="" class="category text-danger"><i _ngcontent-c11=""
                                        class="now-ui-icons media-2_sound-wave"></i> Trending </h6>
                                <h5 _ngcontent-c11="" class="card-title"><a _ngcontent-c11="" href="#pablo">Here Be
                                        Dragons</a></h5>
                                <p _ngcontent-c11="" class="card-description"> An immersive production studio focused on
                                    virtual reality content, has closed a $10 million Series A round led by Discovery
                                    Communications </p>
                                <div _ngcontent-c11="" class="card-footer">
                                    <div _ngcontent-c11="" class="author"><img _ngcontent-c11="" alt="..."
                                            class="avatar img-raised" src="assets/img/julie.jpg"><span
                                            _ngcontent-c11="">Lord Alex</span></div>
                                    <div _ngcontent-c11="" class="stats stats-right text-dark"><i _ngcontent-c11=""
                                            class="now-ui-icons ui-2_favourite-28"></i> 342 · <i _ngcontent-c11=""
                                            class="now-ui-icons files_single-copy-04"></i> 45 </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div _ngcontent-c11="" class="col-md-6 col-lg-4">
                        <div _ngcontent-c11="" class="card" data-background-color="black">
                            <div _ngcontent-c11="" class="card-body content-danger">
                                <h6 _ngcontent-c11="" class="category-social"><i _ngcontent-c11=""
                                        class="now-ui-icons ui-2_chat-round"></i> New Apps </h6>
                                <h4 _ngcontent-c11="" class="card-title"><a _ngcontent-c11="" href="#nuk">FiftyThree
                                        Files For Paper</a></h4>
                                <p _ngcontent-c11="" class="card-description"> Yesterday, as Facebook launched its news
                                    reader app Paper, design-focused startup FiftyThree called out Facebook publicly for
                                    using their brand name... </p>
                                <div _ngcontent-c11="" class="card-footer text-center"><a _ngcontent-c11=""
                                        class="btn btn-default btn-round" href="#pablo">Read Article</a></div>
                            </div>
                        </div>
                        <div _ngcontent-c11="" class="card card-blog">
                            <div _ngcontent-c11="" class="card-image"><a _ngcontent-c11="" href="#pablo"><img
                                        _ngcontent-c11="" class="img rounded" src="assets/img/card-blog2.jpg"></a></div>
                            <div _ngcontent-c11="" class="card-body">
                                <h6 _ngcontent-c11="" class="category text-primary">Features</h6>
                                <h5 _ngcontent-c11="" class="card-title text-dark"> That’s One Way To Ditch Your Passenger </h5>
                                <p _ngcontent-c11="" class="card-description"> As near as we can tell, this guy must
                                    have thought he was going over backwards and tapped the rear break to bring the nose
                                    down... </p>
                                <div _ngcontent-c11="" class="card-footer">
                                    <div _ngcontent-c11="" class="author"><img _ngcontent-c11="" alt="..."
                                            class="avatar img-raised" src="assets/img/julie.jpg"><span
                                            _ngcontent-c11="">Mike John</span></div>
                                    <div _ngcontent-c11="" class="stats stats-right text-dark"><i _ngcontent-c11=""
                                            class="now-ui-icons tech_watch-time"></i> 5 min read </div>
                                </div>
                            </div>
                        </div>
                        <div _ngcontent-c11="" class="card" data-background-color="blue">
                            <div _ngcontent-c11="" class="card-body">
                                <h6 _ngcontent-c11="" class="category-social"><i _ngcontent-c11=""
                                        class="now-ui-icons ui-2_chat-round"></i> Twitter </h6>
                                <p _ngcontent-c11=""> "You Don't Have to Sacrifice Joy to Build a Fabulous Business and
                                    Life" </p>
                                <div _ngcontent-c11="" class="card-footer">
                                    <div _ngcontent-c11="" class="author"><img _ngcontent-c11="" alt="..."
                                            class="avatar img-raised" src="assets/img/james.jpg"><span
                                            _ngcontent-c11="">Tania Andrew</span></div>
                                    <div _ngcontent-c11="" class="stats stats-right"><i _ngcontent-c11=""
                                            class="now-ui-icons ui-2_favourite-28"></i> 2.4K · <i _ngcontent-c11=""
                                            class="now-ui-icons files_single-copy-04"></i> 45 </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div _ngcontent-c11="" class="col-md-8 offset-md-2 col-lg-4 offset-lg-0">
                        <div _ngcontent-c11="" class="card card-blog">
                            <div _ngcontent-c11="" class="card-image"><a _ngcontent-c11="" href="#pablo"><img
                                        _ngcontent-c11="" class="img rounded"
                                        src="assets/img/card-blog6.jpg"></a></div>
                            <div _ngcontent-c11="" class="card-body text-center">
                                <h6 _ngcontent-c11="" class="category text-danger"><i _ngcontent-c11=""
                                        class="now-ui-icons media-2_sound-wave"></i> Business </h6>
                                <h5 _ngcontent-c11="" class="card-title text-dark"> Axel Springer Spends $343M To Buy Business
                                    Insider </h5>
                                <p _ngcontent-c11="" class="card-description"> German media giant Axel Springer has
                                    announced it’s acquiring online business news publication Business Inside... </p>
                                <div _ngcontent-c11="" class="card-footer"><a _ngcontent-c11="" class="btn btn-primary"
                                        href="#nuk">Read Article</a></div>
                            </div>
                        </div>
                        <div _ngcontent-c11="" class="card card-blog">
                            <div _ngcontent-c11="" class="card-image"><img _ngcontent-c11="" class="img rounded"
                                    src="assets/img/card-blog3.jpg"></div>
                            <div _ngcontent-c11="" class="card-body">
                                <h6 _ngcontent-c11="" class="category text-warning"><i _ngcontent-c11=""
                                        class="now-ui-icons media-1_camera-compact"></i> Photo </h6>
                                <h5 _ngcontent-c11="" class="card-title"><a _ngcontent-c11=""
                                        href="#pablo">Indispensible to nature photography: the hide</a></h5>
                                <div _ngcontent-c11="" class="card-footer">
                                    <div _ngcontent-c11="" class="stats stats-right text-dark"><i _ngcontent-c11=""
                                            class="now-ui-icons ui-2_favourite-28"></i> 342 · <i _ngcontent-c11=""
                                            class="now-ui-icons files_single-copy-04"></i> 45 </div>
                                    <div _ngcontent-c11="" class="author"><img _ngcontent-c11="" alt="..."
                                            class="avatar img-raised" src="assets/img/james.jpg"><span
                                            _ngcontent-c11="">Devin Coldewey</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
        <div _ngcontent-c11="" class="cards">
            <div _ngcontent-c11="" class="container">
                <div _ngcontent-c11="" class="title">
                    <h3 _ngcontent-c11=""><small _ngcontent-c11="">Pricing Cards</small></h3>
                </div>
                <div _ngcontent-c11="" class="row">
                    <div _ngcontent-c11="" class="col-md-6 col-lg-3">
                        <div _ngcontent-c11="" class="card card-pricing">
                            <div _ngcontent-c11="" class="card-body">
                                <h6 _ngcontent-c11="" class="category">Alpha Pack</h6>
                                <div _ngcontent-c11="" class="icon icon-primary"><i _ngcontent-c11=""
                                        class="now-ui-icons objects_diamond"></i></div>
                                <h3 _ngcontent-c11="" class="card-title text-dark">$67</h3>
                                <p _ngcontent-c11="" class="card-description"> This is good if your company size is
                                    between 100 and 299 employees.</p><a _ngcontent-c11=""
                                    class="btn btn-primary btn-round" href="#pablo">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                    <div _ngcontent-c11="" class="col-md-6 col-lg-3">
                        <div _ngcontent-c11="" class="card card-pricing">
                            <div _ngcontent-c11="" class="card-body">
                                <h1 _ngcontent-c11="" class="card-title text-dark">$40</h1>
                                <ul _ngcontent-c11="">
                                    <li _ngcontent-c11=""><i _ngcontent-c11=""
                                            class="now-ui-icons ui-1_check text-primary"></i> Unlimited MB</li>
                                    <li _ngcontent-c11=""><i _ngcontent-c11=""
                                            class="now-ui-icons ui-1_check text-primary"></i> Unlimited emails</li>
                                    <li _ngcontent-c11=""><i _ngcontent-c11=""
                                            class="now-ui-icons ui-1_check text-primary"></i> Unlimited Databases</li>
                                    <li _ngcontent-c11=""><i _ngcontent-c11=""
                                            class="now-ui-icons ui-1_check text-primary"></i> Full Support</li>
                                </ul><a _ngcontent-c11="" class="btn btn-neutral btn-default disabled btn-round"
                                    href="#pablo"> Current Plan </a>
                            </div>
                        </div>
                    </div>
                    <div _ngcontent-c11="" class="col-md-6 col-lg-3">
                        <div _ngcontent-c11="" class="card card-pricing card-background"
                            style="background-image: url('assets/img/project12.jpg')">
                            <div _ngcontent-c11="" class="card-body">
                                <h6 _ngcontent-c11="" class="category">Professional</h6>
                                <div _ngcontent-c11="" class="icon icon-primary"><i _ngcontent-c11=""
                                        class="now-ui-icons objects_spaceship"></i></div>
                                <h2 _ngcontent-c11="" class="card-title">$67</h2>
                                <p _ngcontent-c11="" class="card-description"> This is good if you are a freelancer of
                                    photographer.</p><a _ngcontent-c11="" class="btn btn-primary btn-round"
                                    href="#pablo"> Sign Up </a>
                            </div>
                        </div>
                    </div>
                    <div _ngcontent-c11="" class="col-md-6 col-lg-3">
                        <div _ngcontent-c11="" class="card card-pricing">
                            <div _ngcontent-c11="" class="card-body">
                                <h6 _ngcontent-c11="" class="category">Starter</h6>
                                <h1 _ngcontent-c11="" class="card-title text-dark"><small _ngcontent-c11="">$</small>10
                                </h1>
                                <ul _ngcontent-c11="">
                                    <li _ngcontent-c11=""><i _ngcontent-c11=""
                                            class="now-ui-icons ui-1_check text-success"></i> 1000 MB</li>
                                    <li _ngcontent-c11=""><i _ngcontent-c11=""
                                            class="now-ui-icons ui-1_simple-remove text-danger"></i> 3 email</li>
                                    <li _ngcontent-c11=""><i _ngcontent-c11=""
                                            class="now-ui-icons ui-1_simple-remove text-danger"></i> 5 Databases</li>
                                    <li _ngcontent-c11=""><i _ngcontent-c11=""
                                            class="now-ui-icons ui-1_simple-remove text-danger"></i> No Support</li>
                                </ul><a _ngcontent-c11="" class="btn btn-primary btn-round" href="#pablo"> Register </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer footer-default">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="https://www.creative-tim.com">
                            Creative Tim
                        </a>
                    </li>
                    <li>
                        <a href="https://www.creative-tim.com/about-us">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                            MIT License
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Designed by
                <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
                <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
            </div>
        </div>
    </footer>
</div>